<html xmlns:th="//www.thymeleaf.org">
<div class="userInfo" th:if=${session.id}>
    <span th:text="${session.id}"></span><span> 님 / </span>
    <span th:text="${session.mbLevel}"></span><span> 레벨</span>
    <button type="button">
        <a th:href="@{logout}" style="color: #fff">로그아웃</a>
    </button>
</div>

<div class="title" style="color: #00a2be">영화 리스트</div>
<form role="form" action="upload" method="post" enctype="multipart/form-data">
    <div class="section form">
       <table>
        <colgroup>
            <col style="width:10%"/>
            <col style="width:80%"/>
            <col style="width:10%"/>
        </colgroup>
        <tbody>
            <tr> 
                <th>영화이름</th>
                <td>
                    <input type="hidden" name="pjseq" placeholder="글번호" required/>
                    <input type="text" name="pjtitle" placeholder="제목" required/>
                </td>
            </tr>
            
            <tr> 
               <th>소개</th>
                <td>
                   <textarea colspan="2" id="mystory" name="pjcontent" placeholder="내용을 적어주세요." rows="5" cols="200" required></textarea>
                </td>
            </tr>
            
            <tr> 
               <th>평점</th>
                <td>
                   <input type="mynum" name="pjnum" placeholder="평점을 적어주세요.(1~5점)" required/>
                </td>
            </tr>
        </tbody>
       </table>
       <div class="button">
            <button type="submit" style="margin-right: 11px">올리기</button>
       </div>
    </div>

</form>